
.image-upload-container{
    height: 81%;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
}





.titleHeader{
    width: 100%;
    color: white;
    background-color: red
}


.wrap-cell {
    white-space: normal;
    word-break: break-word;
    /* Optional: to prevent overflow */
    max-width: 200px;
  }
  