<div class="app-container">
  <div class="container-fluid " style="margin-top:15px">

    <div class="row">
      <div class="col-sm-3">
      </div>

      <div class="col-sm-6">
        <label class="titleBar center">{{ 'getTransaction.title' | translate }}</label>
        <div class="app-card cardSetting">
        
          <label>{{ 'getTransaction.transactionId' | translate }} {{statusModel.id}} </label><br>
          <label>{{ 'getTransaction.email' | translate }} {{statusModel.email}} </label>

           <div class="image-box" style="text-align: center;">
                <img class="potrait" id="preview" [src]="base64QrCode" border="3">
            </div>

          <br/>
          <br/>
          <label>{{ 'common.deeplink' | translate }} </label><br>

          <div class="breaking-div">{{base64Url}}</div>
          <br/>
          <div class="image-box-qr" style="text-align: center;">
            <qrcode class="potrait" [qrdata]="base64Url" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
          <div>
            <form [formGroup]="transcationForm" name="transcationForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="domain">{{ 'getTransaction.domain' | translate }}</label>
                <input type="text" formControlName="domain" class="form-control" />
              </div>
              <div class="form-group right-div">
                <button class="button">{{ 'getTransaction.generate' | translate }}</button>
              </div>
            </form>
          </div>
        </div>


      </div>

      <div class="col-sm-3">
      </div>
    </div>
 </div>
</div>
