<div class="app-container">
  <div class="container-fluid " style="margin-top:15px">
    <div class="row">
      <div class="col-sm-6">
        <label class="titleBar center">Use case selection</label>
        <div class="app-card cardSetting">
          <!-- FORM START -->
              <h4>Select Use Case</h4>
              <mat-form-field appearance="fill" class="wide-select">
                <mat-label>Choose an option</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option *ngFor="let uc of useCases" value="{{uc[0]}}">{{uc[1]}}</mat-option>
                </mat-select>
              </mat-form-field>


            <div class="form-group right-div">
              <button class="button" (click)="onSubmit()">Go</button>
            </div>

            <!-- empty label to use as space : no time to look in detail -->
            <div class="form-group">
              <label for="Actions"></label>
            </div>

            <!-- FORM END -->
        </div>
      </div>

      <div class="col-sm-6">
        <label class="titleBar center">Description</label>
        <div class="app-card cardSetting">
          <p>
            The Pre-Authorized Code Flow enables users to receive digital credentials in their EUDI Wallet through a simple QR code scan. The issuer generates a QR code containing a credential offer and a pre-authorized code, which the user scans with their wallet. The wallet then securely connects to the issuer, redeems the pre-authorized code, and retrieves the verifiable credential without requiring a browser-based authorization flow. Once validated and issued, the credential is securely stored in the user's wallet, providing a seamless, secure, and user-friendly credential issuance experience.
          </p>

        </div>
      </div>

    </div>
  </div>

</div>
