<div class="app-container">
  <div class="container-fluid " style="margin-top:15px">
    <div class="row">
      <div class="col-sm-6">
        <label class="titleBar center">{{ 'home.useCaseSelection' | translate }}</label>
        <div class="app-card cardSetting">
          <!-- FORM START -->
              <h4>{{ 'home.selectUseCase' | translate }}</h4>
              <mat-form-field appearance="fill" class="wide-select">
                <mat-label>{{ 'home.chooseOption' | translate }}</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option *ngFor="let uc of useCases" value="{{uc[0]}}">{{ ('useCases.' + uc[0]) | translate }}</mat-option>
                </mat-select>
              </mat-form-field>


            <div class="form-group right-div">
              <button class="button" (click)="onSubmit()">{{ 'common.go' | translate }}</button>
            </div>

            <!-- empty label to use as space : no time to look in detail -->
            <div class="form-group">
              <label for="Actions"></label>
            </div>

            <!-- FORM END -->
        </div>
      </div>

      <div class="col-sm-6">
        <label class="titleBar center">{{ 'home.description' | translate }}</label>
        <div class="app-card cardSetting">
          <p>
            {{ 'home.descriptionText' | translate }}
          </p>

        </div>
      </div>

    </div>
  </div>

</div>
