<div class="app-container">
    <div class="container-fluid " style="margin-top:15px">

        <div class="row">
            <div class="col-sm-3">
            </div>

            <div class="col-sm-6">
                <label class="titleBar center">{{ 'offer.title' | translate }}</label>
                <div class="app-card cardSetting">

                    <label><b>{{ 'offer.qrCode' | translate }} </b></label>

                    <div class="image-box" style="text-align: center;">
                        <img class="potrait" id="preview" [src]="base64QrCode" border="3">
                    </div>
                    <br />
                    <br />

                    <div *ngIf="offer?.tx_code">
                        <label><b>{{ 'offer.transactionCode' | translate }}</b> {{offer?.tx_code}}</label>
                        <br />
                        <br />
                    </div>

                    <div *ngIf="offer?.authorization_code">
                        <label>
                            <b>{{ 'offer.authorizationCode' | translate }} </b>{{offer?.authorization_code}}</label>
                        <br />
                        <br />
                    </div>

                    <label><b>{{ 'common.deeplink' | translate }} </b></label><br>
                    <div class="deeplink-frame">
                        <span class="deeplink-text">
                            <a href="{{offer.uri}}" >{{decodedUri}}"</a>
                        </span>
                        <button class="copy-btn" (click)="copyDeeplink()" [title]="'offer.copyDeeplink' | translate">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </div>
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-sm-3">
            </div>
        </div>
    </div>
</div>