PID_CLAIMS_FILE=${PID_CLAIMS_FILE}
DEGREE_CLAIMS_FILE=${DEGREE_CLAIMS_FILE}
BIRTH_CERTIFICATE_CLAIMS_SD_JWT_FILE=${BIRTH_CERTIFICATE_CLAIMS_SD_JWT_FILE}
BIRTH_CERTIFICATE_CLAIMS_MDOC_FILE=${BIRTH_CERTIFICATE_CLAIMS_MDOC_FILE}
SOR_SERVER_PORT=${SOR_SERVER_PORT}
